@import "tailwindcss";
@import "tw-animate-css";
.tag {
  @apply flex w-fit h-6 px-2 py-1 rounded-full border gap-2 items-center justify-center font-normal text-[10px] leading-[10px];
}
.buttons {
  @apply flex w-fit h-6 px-2 py-1 rounded-[4px] border gap-2 items-center justify-center font-normal text-xs;
}
.primary {
  @apply text-[#aa00ff] border-[#ae5eef] bg-[#fbf4ff];
}
.danger {
  @apply text-[#E5484D] border-[#EB8E90] bg-[#FFF7F7];
}
.success {
  @apply text-[#30A46C] border-[#5BB98B] bg-[#F4FBF6];
}
.warning {
  @apply text-[#EC9455] border-[#F76B15] bg-[#FFF7ED];
}
.secondary {
  @apply text-[#60646C] border-[#B9BBC6] bg-[#F9F9FB];
}
.secondaryDark {
  @apply text-[#1C2024] border-[#80838D] bg-[#B9BBC6];
}
.yellow {
  @apply text-[#D5AE39] border-[#D5AE39] bg-[#FEFCE9];
}
.indigo {
  @apply text-[#3E63DD] border-[#8DA4EF] bg-[#F4FAFF];
}
.teal {
  @apply text-[#12A594] border-[#53B9AB] bg-[#F3FBF9];
}
.pink {
  @apply text-[#C2298A] border-[#E7ACD0] bg-[#FEF7FB];
}
.cyan {
  @apply text-[#107D98] border-[#7DCEDC] bg-[#F2FAFB];
}
