name: Deployment of Jalsampada UI
on:
  push:
    branches:
      - develop

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.SSH_HOST }}
          username: erpadmin
          key: ${{ secrets.SSH_KEY }}
          script: |
            set -e
            cd ~/bench-Jalsampada/apps/Jalsampada_ui
            git pull origin develop
            npm run build
            /home/erpadmin/.nvm/versions/node/v24.12.0/bin/pm2 restart jalsampada-frontend
